.wrapper {
  height: 100vh;
  background-color: #232323;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.react-logo {
  width: 300px;
}